* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background-color: white;
}

.currency-input {
  display: flex;
}

input {
  outline: 0;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0.5px rgb(192, 192, 192) solid;
  padding: 6px;
  width: 150px;
  border-right-style: none;
}

select {
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0.5px rgb(192, 192, 192) solid;
  padding: 6px;
  display: inline-block;
  position: relative;
  background-color: white;
  border-left-style: none;
  transition: background-color ease-in-out 250ms;
}

select:hover {
  background-color: rgb(225, 225, 225);
}

.currency-converter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 32px;
}

.select-disable {
  cursor: not-allowed;
}

.select-input {
  display: flex;
  align-items: center;
}

hr {
  border-width: 0.5px;
  height: 20px;
  border-color: rgb(237, 237, 237);
}

.currency-input:focus {
  outline: 2px solid blue;
  border-radius: 5px;
}

.btn-reverse {
  background-color: none;
  border: 0.5px rgb(192, 192, 192) solid;
  padding: 6px;
  border-radius: 3px;
  transition: background-color ease-in-out 250ms;
}

.btn-reverse:hover {
  background-color: rgb(225, 225, 225);
}
